:root {
    --main-side-bg-color: #ffffff34;
    --main-side-item-bg-color: #ffbd33;
    --main-side-item-hover-bg-color: #e9b826;
    --main-side-item-active-bg-color: #bb9c00;
    --main-side-item-selected-bg-color: #f58c13;
}

.dark-theme {
    --main-side-bg-color: #ffffff00;
    --main-side-item-bg-color: #ffb820c5;
    --main-side-item-hover-bg-color: #ddac19c5;
    --main-side-item-active-bg-color: #ddac198c;
    --main-side-item-selected-bg-color: #f58b13bb;
}

.main-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    background-color: var(--main-side-bg-color);
}

.main-side header {
    display: flex;
}

.main-side .menu-btn {
    padding: 10px;
    color: var(--text-color);
    background-color: #00000000;
    border: none;
    cursor:pointer;
}

.main-side #task-form {
    display: flex;
    flex-direction: row;
}

.main-side #task-form #task-add-input {
    flex: 1;
    color: var(--text-color);
    background-color: #ea7100;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    margin: 10px 0;
}

.main-side #task-form #task-add-input:focus {
    outline: solid;
    outline-color: green;
}

.main-side #task-form #task-add-input:focus + #add-task-btn {
    outline: solid;
    outline-color: green;
}

.main-side #task-form #task-add-input::placeholder {
    color: var(--placeholder-text-color);
}

.main-side #task-form #add-task-btn {
    padding: 5px 10px;
    margin: 10px 0;
    color: var(--text-color);
    background-color: #ea7100;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor:pointer;
}

.main-side #task-form #add-task-btn:hover {
    background-color: #ca6200;
}

.main-side #task-form #add-task-btn:active {
    background-color: #a34f00;
}

.main-side .task-list-name {
    margin: 5px;
    padding: 5px;
    font-size: .67em;
    font-weight: bold;
    cursor: pointer;
}

.main-side .item {
    display: flex;
    margin: 0;
    padding: 10px;
    list-style-type: none;
    background-color: var(--main-side-item-bg-color);
}

.main-side .item:hover {
    background-color: var(--main-side-item-hover-bg-color);
}

.main-side .item:active {
    background-color: var(--main-side-item-active-bg-color);
}

.main-side .item.selected {
    background-color: var(--main-side-item-selected-bg-color);
}

.main-side .item.selected:hover {
    background-color: var(--main-side-item-hover-bg-color);
}

.main-side .item.selected:active {
    background-color: var(--main-side-item-active-bg-color);
}

.main-side .item .task-checkbox {
    appearance: none;
    margin: 4px;
    padding: 5px;
    width: 20px;
    height: 20px;
    border: 2px solid var(--task-view-side-item-active-bg-color);
    background-color: #fff0;
    accent-color: var(--task-view-side-item-active-bg-color);
    cursor: pointer;
}

.main-side .item .task-checkbox:checked {
    appearance: checkbox;
}

.main-side .item .task-name {
    margin: 2px;
    padding: 2px;
    flex: 1;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: #fff0;
}

.main-side .item .task-delete {
    margin: 2px;
    padding: 2px;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: #fff0;
    cursor: pointer;
}

.main-side .item .task-more-btn {
    margin: 2px;
    padding: 2px;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: #fff0;
    cursor: pointer;
}

.main-side .item .task-date-btn {
    margin: 2px;
    padding: 2px;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: #fff0;
    cursor: pointer;
}

.main-side .item .task-list-name-btn {
    margin: 2px;
    padding: 2px;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: #fff0;
    cursor: pointer;
}