@media (min-width: 641px) {
    .project-list-side {
        display: flex;
    }
}

@media (max-width: 640px) {
    .project-list-side {
        display: none;
    }
}

.project-list-side {
    min-width: 200px;
    background-color: #e0b200;
    flex-direction: column;
    padding: 10px;
}

.project-list-side .item {
    width: 100%;
    padding: 5px;
    margin: 1px 0;
    background-color: #ced000;
    border-radius: 5px;
    cursor:pointer;
}

.project-list-side .item:hover {
    width: 100%;
    padding: 5px;
    margin: 1px 0;
    background-color: #ced00090;
    border-radius: 5px;
    cursor:pointer;
}

.project-list-side .item:active {
    width: 100%;
    padding: 5px;
    margin: 1px 0;
    background-color: #b6b900;
    border-radius: 5px;
    cursor:pointer;
}

.project-list-side .item.selected {
    width: 100%;
    padding: 5px;
    margin: 1px 0;
    background-color: #87ee00;
    border-radius: 5px;
    cursor:pointer;
}

.project-list-side .item.selected:hover {
    width: 100%;
    padding: 5px;
    margin: 1px 0;
    background-color: #87ee0090;
    border-radius: 5px;
    cursor:pointer;
}

.project-list-side .item.selected:active {
    width: 100%;
    padding: 5px;
    margin: 1px 0;
    background-color: #63af00;
    border-radius: 5px;
    cursor:pointer;
}