:root {
    --project-list-side-bg-color: #ffc0cbee;
    --project-list-side-item-bg-color: #ffbd33;
    --project-list-side-item-hover-bg-color: #e9b826;
    --project-list-side-item-active-bg-color: #bb9c00;
    --project-list-side-item-selected-bg-color: #f58c13;
}

.dark-theme {
    --project-list-side-bg-color: #ffa2b1dc;
    --project-list-side-item-bg-color: #ffb820c5;
    --project-list-side-item-hover-bg-color: #ddac19c5;
    --project-list-side-item-active-bg-color: #ddac198c;
    --project-list-side-item-selected-bg-color: #f58b13bb;
}

@media (min-width: 641px) {
    .project-list-side {
        display: flex;
    }
}

@media (max-width: 640px) {
    .project-list-side {
        display: none;
    }
}

.project-list-side {
    min-width: 200px;
    background-color: var(--project-list-side-bg-color);
    flex-direction: column;
    padding: 10px;
}

.project-list-side .item {
    width: 100%;
    padding: 10px;
    margin: 1px 0;
    background-color: var(--project-list-side-item-bg-color);
    border-radius: 5px;
    cursor:pointer;
}

.project-list-side .item:hover {
    background-color: var(--project-list-side-item-hover-bg-color);
}

.project-list-side .item:active {
    background-color: var(--project-list-side-item-active-bg-color);
}

.project-list-side .item.selected {
    background-color: var(--project-list-side-item-selected-bg-color);
}

.project-list-side .item.selected:hover {
    background-color: var(--project-list-side-item-hover-bg-color);
}

.project-list-side .item.selected:active {
    background-color: var(--project-list-side-item-active-bg-color);
}

.project-list-side .project-list-name {
    display: flex;
    margin-top: 10px;
    padding: 5px;
    justify-content: space-between;
    color: var(--text-color);
}

.project-list-side .project-list-name-add {
    border: none;
    background: none;
    color: var(--text-color);
    cursor: pointer;
}