/* max 500 phone
max 640 tablet
min 960 desktop */

:root {
    --primary-color: #5865F2;
    --second-color: #db49ff;
    --bg-color: #96c000;
    --second-bg-color: #ffffff93;
    --card-bg: #ffffff;
    --text-color: #333333;
    --placeholder-text-color: #333333e0;
    --border-radius: 8px;
    --shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.dark-theme {
    --bg-color: #1a1a1a;
    --text-color: #e0e0e0;
    --placeholder-text-color: #e0e0e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
}

@media (min-width: 641px) {
    .sync-project-list-side {
        background: var(--bg-color);
        color: var(--text-color);
        min-height: 100vh;
        display: flex;
    }
}

@media (min-width: 501px) and (max-width: 640px) {
    .sync-project-list-side {
        background: var(--bg-color);
        color: var(--text-color);
        min-height: 100vh;
        display: flex;
    }
}

@media (max-width: 500px) {
    .sync-project-list-side {
        background: var(--bg-color);
        color: var(--text-color);
        min-height: 100vh;
        display: flex;
    }
}

#custom-context-menu {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    width: 200px;
    background-color: var(--bg-color);
    padding: 5px;
}

#custom-context-menu li {
    list-style-type: none;
    color: var(--text-color);
    background-color: var(--bg-color);
    cursor: pointer;
}

#custom-context-menu li:hover {
    background-color: var(--primary-color);
}

.snackbar {
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    opacity: 0;
    transition:
        opacity 0.3s ease-in-out,
        bottom 0.3s ease-in-out;
}

.snackbar.show {
    opacity: 1;
    bottom: 30px;
}