:root {
    --task-view-side-bg-color: #ffffff00;
    --task-view-side-item-bg-color: #ffbd33;
    --task-view-side-item-hover-bg-color: #e9b826;
    --task-view-side-item-active-bg-color: #bb9c00;
    --task-view-side-item-selected-bg-color: #f58c13;
}

.dark-theme {
    --task-view-side-bg-color: #ffffff34;
    --task-view-side-item-bg-color: #ffb820c5;
    --task-view-side-item-hover-bg-color: #ddac19c5;
    --task-view-side-item-active-bg-color: #ddac198c;
    --task-view-side-item-selected-bg-color: #f58b13bb;
}

@media (min-width: 961px) {
    .task-view-side {
        display: flex;
    }
}

@media (max-width: 960px) {
    .task-view-side {
        display: none;
    }
}

.task-view-side {
    transition: .5s;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    scrollbar-color: #fff0 #fff0;
    max-height: 100h;
    background-color: var(--task-view-side-bg-color);
    flex: 1;
    flex-direction: column;
    visibility: hidden;
}

.task-view-side:hover {
    scrollbar-color: var(--task-view-side-item-selected-bg-color) #fff0;
}

.task-view-side .header {
    margin: 4px;
    padding: 5px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-checkbox-complete {
    appearance: none;
    margin: 4px;
    padding: 5px;
    width: 20px;
    height: 20px;
    border: 2px solid var(--task-view-side-item-active-bg-color);
    background-color: #fff0;
    accent-color: var(--task-view-side-item-active-bg-color);
    cursor: pointer;
}

#task-checkbox-complete:checked {
    appearance: checkbox;
}

#task-date-button {
    margin: 5px;
    height: 20px;
    border: none;
    color: var(--text-color);
    background-color: #fff0;
    text-align: center;
    cursor: pointer;
}

#task-priority-select {
    margin: 5px;
    height: 20px;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: #fff0;
    text-align: left;
}

#task-priority-select:has(option[value="0"]:checked) { color: gray; }
#task-priority-select:has(option[value="1"]:checked) { color: RoyalBlue; }
#task-priority-select:has(option[value="2"]:checked) { color: yellow; }
#task-priority-select:has(option[value="3"]:checked) { color: red; }

#task-priority-select option {
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: #000;
    /* background-color: var(--task-view-side-bg-color); */
}

#task-priority-select option[value="0"] { color: gray; }
#task-priority-select option[value="1"] { color: RoyalBlue; }
#task-priority-select option[value="2"] { color: yellow; }
#task-priority-select option[value="3"] { color: red; }

.task-view-side .main {
    margin: 4px;
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#task-title-input {
    margin: 5px 0;
    width: 100%;
    height: auto;
    color: var(--text-color);
    background-color: #fff0;
    font-size: large;
    border: none;
    outline: none;
}

#task-description-input {
    margin: 5px 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    color: var(--text-color);
    background-color: #ffffff00;
    border: none;
    outline: none;
    resize: none;
}

.task-view-side .main .checkbox-list li {
    display: flex;
    flex-direction: row;
    max-height: 48px;
    list-style-type: none;
}

.task-view-side .main .checkbox-list li .check-field {
    margin: 4px;
    padding: 5px;
    width: 20px;
    height: 20px;
    background-color: #fff0;
    accent-color: var(--task-view-side-item-active-bg-color);
}

.task-view-side .main .checkbox-list li .text-field {
    margin: 4px;
    padding: 5px;
    height: 20px;
    flex: 1;
    border: none;
    color: var(--text-color);
    background-color: #fff0;
}

.task-view-side .main .checkbox-list li .text-field:focus {
    outline: none;
}

.task-view-side .main .checkbox-list li .delete-btn {
    margin: 4px;
    padding: 5px;
    height: 20px;
    border: none;
    color: var(--text-color);
    background-color: #fff0;
    cursor: pointer;
}

.task-view-side .main .checkbox-list li .delete-btn:hover {
    background-color: #ffffff10;
}

.task-view-side .main .checkbox-list li .delete-btn:active {
    background-color: #ffffff34;
}

#add-subtask-btn {
    margin: 5px;
    border: none;
    text-align: start;
    color: var(--primary-color);
    background-color: #fff0;
    cursor: pointer;
}

.task-view-side .main .space {
    flex: 1;
}

.task-view-side .footer {
    margin: 4px;
    padding: 5px;
    height: 30px;
}