@media (min-width: 961px) {
    .task-view-side {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 960px) {
    .task-view-side {
        display: none;
        flex-direction: column;
    }
}