@media (min-width: 961px) {
    .task-view-side {
        display: flex;
        flex: 1;
    }
}

@media (max-width: 960px) {
    .task-view-side {
        display: none;
    }
}

.task-view-side {
    background-color: #050;
    flex-direction: column;
}